/*Neon*/
.cwi-neon-logo-p {
	text-align: center;
	font-size: 50px;
}

.cwi-neon-logo-a {
	text-decoration: none;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	color: #fff;
	font-family: Monoton;
	-webkit-animation: neon1 1.5s ease-in-out infinite alternate;
	-moz-animation: neon1 1.5s ease-in-out infinite alternate;
	animation: neon1 1.5s ease-in-out infinite alternate;
}


.cwi-neon-logo-a:hover {
	text-decoration: none;
	color: #FF1177;
	-webkit-animation: none;
	-moz-animation: none;
	animation: none;
}

.cwi-head-logo-position {
	width: 510px;
	margin: auto;
	position: absolute;
	top: -10px;
	left: 0px;
}

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

/*glow for mozilla*/

@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

/*glow*/

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

/*REEEEEEEEEEESPONSIVE*/



.light-up-letters {
	display: inline-block;
	font-family: 'Monoton';
	font-size: 120px;
	font-weight: 100;
	color: red;
	text-shadow: 0 0 5px red, 0 0 10px red, 0 0 85px red, 0 0 85px red, 0 0 85px red;
	margin: auto;
    position: absolute;
    left: 100px;
}

.light-up-letters .fade {
	animation: fade 5s linear infinite;
}

.light-up-letters .flicker {
	animation: flicker 6s 1s linear infinite;
}

.light-up-letters .sparkle {
	animation: sparkle 3s 3s linear infinite;
}

@keyframes fade {
	0%,9%,11%,13%,15%,41%,43%,45% {
		text-shadow: 0 0 5px red, 0 0 10px red, 0 0 85px red, 0 0 85px red, 0 0 85px red;
		opacity: 1;
	}
	10%,12%,14%,42%,44% {
		opacity: 0.6;
		text-shadow: none; 
	}
}

@keyframes flicker {
	51% {
		text-shadow: 0 0 5px red, 0 0 10px red, 0 0 85px red, 0 0 85px red, 0 0 85px red;
		opacity: 1;
	}
	0%,50%,52%,100% {
	opacity: 0.6;
	text-shadow: none; 
	}
}

@keyframes sparkle {
	0%,9%,11%,13%,15%,41%,43%,45% {
		text-shadow: 0 0 5px red, 0 0 10px red, 0 0 85px red, 0 0 85px red, 0 0 85px red;
		opacity: 1;
	}
	10%,12%,14%,42%,44% {
		opacity: 0.6;
		text-shadow: none; 
	}
}

.cwi-error-main {
	position: relative;
	background-color: black;
    height: calc(100vh - (100px));
    width:  100vw;
}

.cwi-error-div {
	position: relative;
	margin: 0 auto;
	width: 70%;
	height: 100%;
    padding-top: 50px;
}