.box {
	margin-left: 7%;
	margin-right: 7%;
	overflow: hidden;
}

.product_con{ 
	margin-top: 1%;	padding-left: 20%;  position:relative; 
	}

.bannerimg {

	width: 80%;
	height : 500px;
}

.janjan {
	
	padding-left: 10%;
	padding-bottom :5%;
}

.janP {
	font-weight: bold;
}

.janImg {
	margin-top : -10px;
	width: auto;
	height : 500px;
	position: absolute;
	left : 700px;
}

.contents {
 	margin-bottom : 1%;
 	
}

.glul-img {
	width : 30px;
	height : 30px;
}

.a {
	position: absolute;
	width: 100%;
	height: 100%;
	border-style: none;
}

.glul {
	list-style: none;
	padding: 0;
	border-style: none;
	width: 100%;
	height: auto;
	
}
.glul li {
	width: 13%;
	height: 100%;
	margin-left: 5%;
	margin-bottom : 3%;
	display: inline-block;
	text-align : center;
	/* 	border-style: solid;
	border-width: 1px; */
}

.subTitle:hover {
	color : red;
	text-decoration: underline;
}

.albumImg {
	width: 70%;
	height : 150px;
	margin-left: 10%;
	border-style: solid;
	border-width : 1px;
	border-color : silver;
	opacity: 0.7;
    filter: alpha(opacity=40);
}

.falbumImg {
	width: 70%;
	height : 150px;
	margin-left: 10%;
	border-radius: 50%;
}

.albumImg:hover {
	text-decofation : none;
	opacity: 1.0;
    filter: alpha(opacity=100);
    
}

hli{list-style:none}


.product_con .btn_prev,.product_con .btn_next { position:absolute;top:100px;}
.product_con .btn_prev { left:0px;}
.product_con .btn_next { right:0px;}
.numlist {width:35%; margin:0 auto;}


.member_nick {
	color : gray;
}

.member_nick:hover {
	color : black;
	text-decoration: none; 
}


.music_nm {
		color : black;
}
.music_nm:hover {
	text-decoration: none;
	
}

.jfollow {
	border-color : #FF9BE6;
	color:white;
	outline-color: white;
	background-color: white;
}


.following:hover >.jfollow {
	border-radius : 10%;
	color: black;
	border: 1;
	border-style: solid;
	border-color: silver; 
}

.jfollow:hover  {
	border-style : solid; 
	background-color :lightgray; 
	color : #ffffff;
}

.jbtn {
	position: relative;
    border: 0;
    padding: 15px 25px;
    display: inline-block;
    text-align: center;
    color: white;
	padding: 4px 12px;  
  	font-size: 14px;	
}

.following
